.login-container {
  display: flex;
  justify-content: center;
  background: var(--primary-bg);
  padding-top: 20px;
  height: 100vh;
  position: relative;
}

.login-poster {
  width: 385px;
  height: 530px;
  margin-right: 32px;
}

.login-poster-image {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
}

.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px 0;
}

.logo-wrapper {
  margin: 36px 0 12px 0;
}

.login-form-wrapper {
  padding: 0 40px 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.input-label {
  margin: 0 40px 6px;
  width: 100%;
}

.input-label input {
  padding: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--primary-bg);
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 3px;
  width: 100%;
}

.button-wrapper {
  width: 100%;
  margin: 8px 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

.login-button {
  width: 100%;
  background-color: var(--primary-btn-bg);
  border: none;
  border-radius: 4px;
  padding: 7px 15px;
  color: white;
  font-weight: bold;
}

.redirect-text {
  margin: 10px;
}

.redirect-text a {
  color: var(--primary-btn-bg);
  text-decoration: none;
  font-weight: 500;
}

.loading-spinner-wrapper {
  width: 40px;
  top: -4px;
  position: absolute;
}

.loading-image {
  width: 100%;
  height: 100%;
}

.seprator {
  margin: 20px 0 0 0;
}

.facebook-login-wrapper {
  margin: 5px 0px;
  text-align: center;
}

.facebook-login-btn {
  background: none;
  color: #385185;
  font-size: 16px;
  padding: 0;
  justify-content: center;
}
.facebook-login-btn .facebook-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.alert-message {
  color: red;
  font-size: small;
}

/* responsive for mobile */
@media (max-width: 426px) {
  .login-poster {
    display: none;
  }

  .logo-wrapper .photogram-logo {
    height: 70px;
    width: 200px;
  }

  .login-box {
    background: none;
    border: none;
    padding: 0;
  }

  .login-form-wrapper {
    padding: 0 20px 20px;
    width: 100%;
  }
}
