.home-page-container {
  display: flex;
  justify-content: center;
  position: relative;

}

.top-instagram-logo {
  display: none;
}

.story-post-wrapper {
  max-width: 470px;
  width: 100%;
  margin: 20px auto;
  background-color: var(--primary-bg);

}

.upload-model-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: brightness(0.4);
  z-index: 5;
}

.cancel-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  width: 35px;
  background: none;
  color: var(--primary-bg);
}

.userprofile-suggestion-wrapper {
  width: 100%;
  max-width: 300px;
  position: absolute;
  right: 2%;
  top: 65px;
}

.userprofile-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.userprofile-image-wrapper {
  width: 50px;
}

.userprofile-image-wrapper img {
  width: 100%;
  height: 100%;
}

.username-fullname-wrapper .username-wrapper {
  font-size: 14px;
  width: auto;
}

.username-fullname-wrapper {
  margin-left: 15px;
}

.fullname-wrapper {
  font-size: 14px;
  color: var(--secondary-text);
  font-weight: 400;
}

.suggestion-wrapper,
.suggestion-user-list {
  margin-top: 15px;
}

.suggestion-title {
  color: var(--secondary-text);
  font-weight: 500;
}

.suggestion-user-list .userprofile-image-wrapper {
  width: 30px;
}
 .top-instagram-logo {
  display: none;
 }
 .alert-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 5px;
  border: 1px solid var(--border-color);
  background: var(--primary-bg);
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  font-size: 14px;
  font-weight: 500;
}
.alert-cancle-icon{
  width: 20px;
}

/* responsive code for mobile */
@media (max-width:426px) {
  .home-page-container {
    flex-direction: column;
  }

  .alert-box{
    bottom: 70px;
  }
  
  .story-post-wrapper{
    margin: 0;
    margin-bottom: 60px;
  }
  
  .userprofile-suggestion-wrapper {
    display: none;
  }
}

/* responsive for large screen */

@media (min-width:426px) and (max-width:1024px){
  .story-post-wrapper{
    max-width: 370px;
  }
  .userprofile-suggestion-wrapper{
    max-width: fit-content;
  }

  
}