.form-container {
  height: 100svh;
  background: var(--primary-bg);
  flex-direction: column;
  gap: 15px;
}

.form-wrapper {
  flex-direction: column;
  gap: 15px;
  text-align: center;
  border: 1px solid var(--border-color);
  background: var(--secondary-bg);
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 10px;
}
.form-wrapper input {
  padding: 8px 10px;
  text-overflow: ellipsis;
  background: var(--primary-bg);
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 3px;
  width: 100%;
}
