.upload-model-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: brightness(0.4);
  z-index: 5;
}

.cancel-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  width: 35px;
  background: none;
  color: var(--primary-bg);
}

.image-upload-container {
  min-width: 250px;
  background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 20px;
  flex-direction: column;
  gap: 15px;
}
.image-upload-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.button-wrapper {
  width: 100%;
  position: relative;
}
.image-upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  padding: 10px;
}
.image-upload small {
  opacity: 0.7;
}
.image-upload img {
  width: 100px;
}
.browse-btn {
  background: var(--primary-btn-bg);
  color: var(--secondary-bg);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.image-caption-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid var(--border-color);
  padding: 8px;
}
.user-profile img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.caption-textarea {
  height: 100px;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border: none;
  width: 100%;
}

.upload-btn {
  width: 100%;
  background-color: var(--primary-btn-bg);
  border: none;
  border-radius: 4px;
  padding: 7px 15px;
  color: white;
  font-weight: bold;
}

/* responsive for mobile */
@media (max-width: 426px) {
  .upload-model-container {
    top: 0px;
  }
  .image-upload-wrapper {
    flex-direction: column;
  }
}
