.navbar-container {
  padding: 12px;
  width: 245px;
  height: 100vh;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-bg);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 4px 0;
}
.menu-wrapper:hover {
  background: var(--primary-bg);
  border-radius: 25px;
}

.icon {
  width: 30px;
  height: 30px;
}

.menu-title {
  padding-left: 16px;
  color: var(--primary-text);
}

.active-link {
  font-weight: 700;
}

.menu-wrapper a {
  text-decoration: none;
  color: var(--primary-text);
}

.create-btn {
  border: none;
  display: flex;
  align-items: center;
  background: none;
  font-size: inherit;
}
.create-btn:focus {
  font-weight: 700;
}

.user-image-wrapper img {
  width: 100%;
  height: 100%;
}

.more-menu-wrapper {
  position: relative;
}

.more-menu-options-wrapper {
  position: absolute;
  bottom: 55px;
  width: 100%;
  align-items: center;
  box-shadow: var(--border-color) 0px 0px 4px 2px;
  border-radius: 8px;
}
.logut-wrapper {
  border-top: 1px solid var(--border-color);
  padding: 5px;
  background: var(--primary-bg);
  width: 100%;
}
.logout-btn {
  border: none;
  background: none;
  width: 100%;
  color: var(--primary-text);
  font-size: 15px;
}

/* responsive for mobile */

@media (max-width: 426px) {
  .navbar-container {
    bottom: -1px;
    z-index: 7;
    width: 100% !important;
    height: 50px;
    top: unset;
    padding: 0;
  }

  .navbar-wrapper .logo-wrapper,
  .menu-title {
    display: none;
  }
  .nav-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .menu-wrapper {
    padding: 0;
    margin: 0;
  }
  .more-menu-options-wrapper {
    right: 0px;
    width: 100px;
    bottom: 40px;
  }
  .active-link,
  .create-btn:focus {
    border-top: 2px solid var(--primary-text);
  }

  .icon {
    margin-top: 5px;
  }
}

/* responsive for tablet screen */

@media (min-width: 426px) and (max-width: 769px) {
  .navbar-container {
    width: 180px;
  }
}
