.userprofile-suggestion-wrapper {
  width: 100%;
  max-width: 300px;
  position: absolute;
  right: 2%;
  top: 65px;
}

.userprofile-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.userprofile-image-wrapper {
  width: 50px;
}

.userprofile-image-wrapper img {
  width: 100%;
  height: 100%;
}

.username-fullname-wrapper .username-wrapper {
  font-size: 14px;
  width: auto;
}

.username-fullname-wrapper {
  margin-left: 15px;
}

.fullname-wrapper {
  font-size: 14px;
  color: var(--secondary-text);
  font-weight: 400;
}

.suggestion-wrapper,
.suggestion-user-list {
  margin-top: 15px;
}

.suggestion-title {
  color: var(--secondary-text);
  font-weight: 500;
}

@media (min-width: 426px) and (max-width: 769px) {
  .fullname-wrapper {
    text-overflow: ellipsis;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
  }
  .userprofile-suggestion-wrapper {
    right: 1%;
  }
}

/* responsive for large screen */

@media (min-width: 768px) and (max-width: 1024px) {
  .userprofile-suggestion-wrapper {
    max-width: fit-content;
  }
}
