.signup-confirm-email-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.confirm-email-image-wrapper {
  width: 80%;
  height: auto;
  max-height: 200px;
}

.confirm-email-image {
  width: 100%;
  height: 100%;
}

.confirm-email-message {
  width: 80%;
}

@media (max-width: 426px) {
  .confirm-email-image-wrapper {
    max-height: 125px;
  }
}
